<div class="footer-clean">
  <footer>
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-sm-4 col-md-3 item">
                  <h3>Customer Support</h3>
                  <ul>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Feedback & Comments</a></li>
                      <li><a href="#">Contact Us</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="https://www.telus.com/en/digital/culture" target="_blank">Team</a></li>
                      <li><a href="#">Legacy</a></li>
                  </ul>
              </div>
              <div class="col-sm-4 col-md-3 item">
                  <h3>Careers</h3>
                  <ul>
                      <li><a href="https://www.telus.com/en/digital/careers" target="_blank">Job openings</a></li>
                      <li><a href="#">Employee success</a></li>
                      <li><a href="#">Benefits</a></li>
                  </ul>
              </div>
              <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="https://www.instagram.com/telusdigital/" target="_blank"><i class="icon ion-social-instagram"></i></a>
                  <p class="copyright">Company Name © 2022</p>
              </div>
          </div>
      </div>
  </footer>
</div>