<header>
  <div class="container">
    <div class="pre-header container-fluid d-flex justify-content-between align-items-center">
      <span>Company Name</span>
      <span>GIVE US A CALL: (780)999-1234</span>
      <div class="d-inline d-flex align-items-center">
        <% if (typeof userId !== "undefined") { %>
          <a class="mx-1" href="/logout" role="button">Logout</a>
        <% } else { %>
          <a class="mx-1" href="/login" role="button">Login</a> |
          <a class="mx-1" href="/register" role="button">Register</a>
        <% } %>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">

        <a class="navbar-brand d-none d-xl-block">
          <img src="/images/PremiumCarsSmall.png" alt="logo" id="main-logo">
        </a>

        <!-- Collapsed navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="d-none d-xl-block" style="width: 175px;">&nbsp;</div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/search">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/listings">View All</a>
            </li>
            <% if (typeof userId !== "undefined") { %>
            <li class="nav-item">
              <a class="nav-link" href="/listings/mine">My Listings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favourites/mine">Favourites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/messages">Messages</a>
            </li><% } %>
          </ul>
          <a class="post-car-button" href="/listings/new">
            <span>POST NEW CAR</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</header>
