<header>
  <div class="container">
    <div class="pre-header container-fluid d-flex justify-content-between">
      <span>asdf</span>
      <span>asdf</span>
      <div class="d-inline">
        <a class="mx-1" href="#" role="button">Login</a> |
        <a class="mx-1" href="#" role="button">Register</a>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">

        <a class="navbar-brand" href="#">
          <div style="position: absolute; margin-left: 50px; width: 125px; height: 125px; background: #ddd;">a</div>
        </a>

        <!-- Collapsed navbar toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-left: 200px;">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
