<!DOCTYPE html>
<html lang="en">

<head>

  <title>Midterm app - <%= display %> Listings</title>

  <%- include('partials/_head.ejs') %>

  <!-- Favourites specific script -->
  <script defer src="/scripts/favourites.js"></script>

</head>

<body>

  <%- include('partials/_nav.ejs') %>

    <div class="container">

      <h1>
        Favourites <span id="user-id" style="display: none;"><%= userId %></span>
      </h1>

      <div class="d-flex flex-column" id="favourites">

        <!-- This is where AJAX loads in the favourites -->

      </div>

    </div>

</body>

</html>
