<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Midterm app - Car Details</title>

    <%- include('partials/_head.ejs') %>

    <script defer src="/scripts/listing-show.js"></script>

  </head>
<body>

  <%- include('partials/_nav.ejs') %>
  <div class="d-flex flex-column align-items-center" id="listing-show">

    <!-- This is where AJAX loads in the listing -->

  </div>
  <span id="user-id" style="display: none;"><%= userId %></span>
  <%- include('partials/_footer.ejs') %>
</body>
</html>
