<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Midterm app - Car Details</title>

    <%- include('partials/_head.ejs') %>

    <script defer src="/scripts/listing-show.js"></script>

  </head>
<body>

  <%- include('partials/_nav.ejs') %>

  <div style="width:70%;">
    <div class="text-center" ><span id="car-id" style="display: none;"><%= carId %></span>
      <h2 style="margin-top: 50px"><i class="fa-solid fa-arrow-left"></i>
        2018 Mercedes-Benz GLC-Class GLC 300 4MATIC AWD - $34,777</h2>
          <label>Toronto, ON 9km away  Home delivery  available</label>
    </div>
    <div class="row" style="height: 1300px;">
      <div class="col-sm-1" style="height:200px;">
        <div class="h-50 text-center" style="background-color: #656f771a; border-bottom: 1px solid black;">Send to phone
          <p><i class="fa-solid fa-mobile-screen-button"></i></p></div>
        <div class="h-50 text-center" style="background-color: #656f771a">Email
          <p><i class="fa-regular fa-envelope"></i></p></div>
      </div>

      <div class="h-100 col-sm-7 row">
        <div class="" style="background-color: #13de0c1a">
          <div class="h-75">
            <img class="img-fluid" src="/images/2020Lamborghini/1900xxs(6).jpg"/> test image section
          </div>
          <div class="h-25">
            <!--Placeholder for images-->
          </div>
        </div>
        <div class="">
          <h4>Features</h4>
          <div class="row">
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-total-mileage.svg"/>
              </div>
              <div>
                <label><strong>Mileage</strong></label><p>50,000</p>
              </div>
            </div>

            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-drivetrain.svg"/>
              </div>
              <div>
                <label><strong>Drivetrain</strong></label><p>AWD</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-exterior-color.svg"/>
              </div>
              <div>
                <label><strong>Exterior color</strong></label><p>Red</p>
              </div>
            </div>
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-interior-color.svg"/>
              </div>
              <div>
                <label><strong>Interior color</strong></label><p>Black</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-mpg.svg"/>
              </div>
              <div>
                <label><strong>Fuel Consumption</strong></label><p>9.94L/100km</p>
              </div>
            </div>
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-engine.svg"/>
              </div>
              <div>
                <label><strong>Engine</strong></label><p>241hp 2L 14</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-fuel-type.svg"/>
              </div>
              <div>
                <label><strong>Fuel type</strong></label><p>Gasoline</p>
              </div>
            </div>
            <div class="d-flex col-sm-6">
              <div>
                <img class="img-fluid" src="/caricons/icon-transmission.svg"/>
              </div>
              <div>
                <label><strong>Transmission</strong></label><p>Automatic</p>
              </div>
            </div>
          </div>
          <div class="" style="background-color: #dd1b8f1a">
            <h4>Sample Description</h4>
            <p>CLEAN CARFAX | AWD | 563HP | DESIGNO EXCLUSIVE PACKAGE | DESIGNO NIGHT BLACK MAGNO | BRABUS EXTERIOR PACKAGE | 22 ROTIFORM JDR WHEELS | AMG CARBON FIBER INTERIOR TRIM | NAVIGATION | BLIND SPOT ASSIST | SILVER AMG FRONT AND REAR CALIPERS | ACTIVE DISTANCE ASSIST DISTRONIC | HARMAN/KARDON LOGIC7 SURROUND SOUND SYSTEM | ACTIVE PARK ASSIST PARKTRONIC | PADDLE SHIFTER | AMBIANCE ILLUMINATION | SEAT COMFORT PKG | APPLE CARPLAY | GOOGLE AUTO | RUNNING BOARDS | REARVIEW CAMERA | PANORAMIC SUNROOF | HEATED AND COOLED SEATS | PADDLE SHIFTERS | HEATED STEERING WHEEL

              The G-Class is one of the staples of luxurious SUVs while delivering performance and off-road capability. That is the reason why Mercedes-Benz G63 AMG has established itself as one of the most iconic SUVs in the world. Powered by a monster AMG Bi-Turbo V8 engine producing 563 horsepower mated to an AMG SPEEDSHIFT PLUS 7G-Tronic transmission, this is one of the most capable SUVs on the market. Not only is it powerful, it is able to tackle off-road challenges with ease and at the same time, provide the most luxurious driving experience.

              </p>

          </div>
        </div>
      </div>

      <div class="h-75 col-sm-4" style="background-color:   rgba(0,0,255,.1)">
        <div class="h-25" style="background-color: #13de0c1a"></div>
        <div class="h-75" style="background-color: #8f53281a">
        <h5>Contact Seller</h5>
        <form action="" method="">
          <input class="w-75" type="text" id="message-name" name="message-name" placeholder="Name*" required><br><br>
          <input class="w-75" type="email" id="message-email" name="message-email" placeholder="Email*" required><br><br>
          <input class="w-75" type="tel" id="message-phone" name="message-phone" placeholder="Phone number-optional"><br><br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="11" style="overflow:auto;resize:none" placeholder="Hi, this looks interesting! Is it still available?"></textarea><br>
          </div>
          <div class="text-center">
          <button type="submit" class="btn btn-outline-dark" name="submit" id="message-submit" value="Search"><span class="glyphicon glyphicon-search"></span> Send Message</button>
          </div>
        </form>
        </div>
      </div>
    </div>
  <%- include('partials/_footer.ejs') %>
</body>
</html>
