<!DOCTYPE html>
<html lang="en">

<head>

  <title>Midterm app - Messages</title>

  <%- include('partials/_head.ejs') %>

    <script defer src="/scripts/messages-inbox.js"></script>

</head>

<body>

  <%- include('partials/_nav.ejs') %>

    <div class="container">
      <h1>Messages Inbox</h1><span id="user-id" style="display: none;">
        <%= userId %>
      </span>

      <h4>Outgoing messages</h4>
      <p>Conversations started by you as a buyer</p>

      <div class="d-flex flex-column" id="inbox-outgoing">

        <!-- This is where AJAX loads in the listings -->

      </div>

      <h4>Incoming messages</h4>
      <p>Conversations sent to you as a lister</p>

      <div class="d-flex flex-column" id="inbox-incoming">

        <!-- This is where AJAX loads in the listings -->

      </div>

      <h4>Inactive messages</h4>
      <p>Conversations that have been archived due to listings being marked sold or deleted</p>

      <div class="d-flex flex-column" id="inbox-archive">

        <!-- This is where AJAX loads in the listings -->

      </div>

    </div>

    <%- include('partials/_footer.ejs') %>

</body>

</html>
