<!DOCTYPE html>
<html lang="en">

<head>

  <title>Users</title>

  <%- include('partials/_head.ejs') %>

</head>

<body>

  <%- include('partials/_nav.ejs') %>

  <h1>Users</h1>
  <button id="fetch-users">Fetch Users via AJAX</button>
  <ul id="users"></ul>

</body>

</html>
