body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
}

.pre-header {
  background: #000;
  color: #fff;
  height: 25px;
  font-size: 0.75em;
  font-weight: 300;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 0 3em;
}

.pre-header a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
  text-transform: uppercase;
}

.nav-item {
  font-size: 1em;
  font-weight: 500;
}

.post-car-button {
  padding: 5px 10px;
  width: 175px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: #555;
}

.navbar-nav {
  gap: 20px;
}

#main-logo {
  top: 1em;
  padding-left: 3em;
  width: 10em;
  position: absolute;
}

// This ensures any content 'below' the nav/header gets pushed down and is not blocked
header+* {
  margin-top: 75px;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-weight: 200;
}
