body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(255, 255, 255);

}

.pre-header {
  background: #000;
  color: #fff;
  height: 50px;
  font-size: 1.75em;
  padding: 0 1em;
}

.pre-header a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.nav-item{
  font-size: 20px;
}

.post-new-car{
  padding: 15px;
  font-size: 1.2em;
}